body {
  background-color: #f5f5f5;
}

div.container-fluid {

}

div.menu {
  background-color: #fff;
}

div.modulos {
  padding: 0 20px 20px 20px;
  margin: 0 0 20px 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

div.modulos div {
  margin-left: 0; /* pq o bootstrap coloca -20px para ".row div" */
}

i.no-link {
  text-decoration: none;
  color: #5B5B5B
}

i.sc-status-1 {color: brown;} /*totalmente atendido*/
i.sc-status-2 {color: white; text-shadow: 1px 1px black;}/*Solicitacao de Importacao*/
i.sc-status-3 {color: black;}/*Eliminada por Residuo*/
i.sc-status-4 {color: green;}/*m Aberto*/
i.sc-status-5 {color: orange;}/*Rejeitada*/
i.sc-status-6 {color: grey;}/*Bloqueada*/
i.sc-status-7 {color: lightgrey;}/*Pedido Colocado*/
i.sc-status-8 {color: yellow;}/*Pedido Colocado Parcial*/
i.sc-status-9 {color: blue;}/*Processo de Cotacao*/
i.sc-status-10 {color: #FF00FF;}/*Produto Importado*/

form#form-empresa-filial {
  margin-bottom: 0;
}

